<div class="userWidget-profileBlueBackground">
  
  <div class="user-profileContainer userall">
    <a class="userWidget-hover" ui-sref="userPage({username: ftUserWidget.user.username})">
  	  <div class="userProfilePicBorder">
  	    <div class="userProfilePic">
          <div class="glyphicon glyphicon-user"></div>
        </div>
      </div>
  	  <div class="userWidget-firstName">
        {{ftUserWidget.user.profile.firstName}}
  	    <span class="userWidget-lastName">
          {{ftUserWidget.user.profile.lastName}}</span>
  	  </div>
    </a>
    <div class="userWidget-Username">
      @{{ftUserWidget.user.username}}
    </div>
  </div>
</div>
  
</div>
<div class="profileWhiteBackground">
  <div class="userWidget-joined">
    Joined
  </div>
  <div class="userWidget-timestamp">
    {{ftUserWidget.convertTime(ftUserWidget.user.timestamp)}}
  </div>
  <div class="userWidget-social">
    <span><ft-followers followers=ftUserWidget.user.username></ft-followers></span>
    <span><ft-following username=ftUserWidget.user.username></ft-following></span>
  </div>
  <div class="userWidget-icons">
    <input type="button" ng-disabled="ftUserWidget.loggedIn" ng-click="ftUserWidget.follow" class="btn btn-primary" value="{{ftUserWidget.followOption}}">  
  </div>
</div>