.userWidget-hover:hover {
  transition: 0.5s ease-in-out;
}
.userWidget-firstName {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  height: 20px;
}

.userWidget-lastName {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.userWidget-Username {
  margin-top: 10px;
  padding-bottom: 15px;
  color: white;
  text-decoration-style: none;
  font-size: 15px;
  line-height: 20px;
  height: 10px;
}

.userProfilePic {
  font-size: 80px;
}

.userProfilePicBorder {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: white;
  margin: 0 auto;
  margin-top: 10px;
}
.user-profileContainer.userall {
  padding: 10px;
  margin: 0px;
  background-color: #5bc0de;
}

.profileWhiteBackground {
  background-color: white;
}

.userWidget-joined {
  padding-top: 10px;
  font-weight: bold;
  font-size: 14px;
}

.userWidget-timestamp {
  margin-top: 5px;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}