<div class="user welcome">
  <a ui-sref="userPage({username: user.username})">
  	<div class="user-profileContainer userall">
  	  <div class="userProfilePicBorder">
  	  	<div class="userProfilePic">
          <div class="glyphicon glyphicon-user"></div>
        </div>
      </div>
  	  <div class="user-firstName">{{user.profile.firstName}}
  	    <span class="user-lastName">{{user.profile.lastName}}</span>
  	  </div>
  	</div>
  </a>
  <div class="user-Username">
  	@{{user.username}}
  </div>
  <div class="joined">
  	Joined
  </div>
  <div class="user-timestamp">
    {{userAll.convertTime(user.timestamp)}}
  </div>
  <div class="tweets-icons">
    <span class="glyphicon glyphicon-heart like Icon"></span>
  </div>
</div>