<ft-tweet ng-if="tweet.tweet.inRepostOf != null" tweet="tweet.tweet.inRepostOf"></ft-tweet>
<ft-tweet ng-if="tweet.tweet.inReplyTo != null" tweet="tweet.tweet.inReplyTo"></ft-tweet>
<div ng-style="tweet.tweet.inReplyTo == null ? {} : {'padding-left' : '48px', 'border': '2px solid green'}">
  <h2 class="tweet-author">@{{tweet.tweet.author.username}}</h2>
  <p ng-click="tweet.likeTweet()" class="tweet-content" ng-bind-html="tweet.tweet.content"></p>
  <div class="tweet-buttons">
    <div ng-click="tweet.openBox(1)" class="btn btn-sm btn-danger ">{{$scope.likes.length}} likes</div>
    <div ng-click="tweet.openBox(2)" class="btn btn-sm btn-danger">{{$scope.replies.length}} replies</div>
    <div ng-click="tweet.openBox(3)" class="btn btn-sm btn-danger">{{$scope.retweets.length}} retweets</div>
    <div ng-click="tweet.openBox(4)" class="btn btn-sm btn-danger  glyphicon-envelope"> Reply</div>
    <div ng-click="tweet.openBox(5)" class="btn btn-sm btn-danger  glyphicon-duplicate"> Retweet</div>
  </div>
  <div class="replyBox" id="newTweetText" ng-style='tweet.commentBoxActive ? {opacity: 1} : {opacity: 0}'>
    <textarea ng-model="tweet.replyBody" maxlength="140"></textarea>
    <div ng-click="tweet.openBox(6)" class="btn btn-sm btn-danger">
      Send reply
    </div>
  </div>

</div>
