.tweet-head-thing {
  font-size: 1em;
  text-align: center;
  margin: 0px;
}

ft-tweet {
  height: 100%;
  max-width: 512px;
}

.tweets {
  padding-top: 0px;
  cursor: pointer;
}

.retweet.Icon, .like.Icon, .reply.Icon  {
  font-size: 20px;
  color: grey;
}

.Icon:active {
  color: black;
  transition: 0.4s;
}

.like.Icon:active {
  color: #d9534f;
}

