<div class="tweets" style="min-width: 512px;">
  <div class="tweet-head-thing" style="padding: 16px;">
    <div ng-if="tweet.tweet.inRepostOf != null">
      <p><i>Retweeted from @{{tweet.tweet.inRepostOf.author.username}}</i></p>
    </div>
    <div ng-if="tweet.tweet.inReplyTo != null">
      <p><i>Reply to @{{tweet.tweet.inReplyTo.author.username}}</i></p </div>
    </div>
    <div style="margin: 0px;">
      <div>
        <div class="tweets-profileContainer">

          <span class="tweets-firstName">{{tweet.tweet.author.profile.firstName}}
          <span class="tweets-lastName">{{tweet.tweet.author.profile.lastName}}</span>
          </span>
          <div class="tweets-Username" ng-bind-html="tweet.author"></div>
        </div>

        <div ng-bind-html="tweet.tweet.content" class="tweets-content welcome">
        </div>
        <div class="tweets-timestamp">
          {{tweet.convertTime(tweet.tweet.posted)}}
        </div>
        <div class="tweets-icons">
          <span ng-show="tweet.userService.isAuthenticated()" ng-click="tweet.openBox(4)" class="glyphicon glyphicon-share-alt reply Icon"></span>
          <span ng-show="tweet.userService.isAuthenticated()" ng-click="tweet.openBox(5)" class="glyphicon glyphicon-retweet retweet Icon "></span>
          <span ng-show="tweet.userService.isAuthenticated()" ng-click="tweet.likeTweet() " class="glyphicon glyphicon-heart like Icon "></span>
        </div>
        <div class="tweet-buttons ">
          <div ng-show="tweet.userService.isAuthenticated()" ng-click="tweet.openBox(1) " class="btn btn-sm btn-danger "> likes</div>
          <div ng-show="tweet.userService.isAuthenticated()" ng-click="tweet.openBox(2) " class="btn btn-sm btn-danger "> replies</div>
          <div ng-show="tweet.userService.isAuthenticated()" ng-click="tweet.openBox(3) " class="btn btn-sm btn-danger "> retweets</div>
          <div ng-click="tweet.deleteTweet()" class="btn btn-danger btn-sm" ng-show="tweet.userService.user.username == tweet.tweet.author.username">
            Delete Tweet
          </div>
        </div>
        <div ng-show="tweet.commentBoxActive">
          <textarea ng-model="tweet.replyBody " maxlength="140 "></textarea>
          <div ng-click="tweet.openBox(6) " class="btn btn-sm btn-danger ">
            Send reply
          </div>
        </div>
      </div>
    </div>

  </div>
