@import "~bootstrap/less/bootstrap";

.ft-followers{
    .make-md-column(3);
    margin-top: 50px;
    margin-left: 50px;
    font-family: calluna;
    font-size: 16pt;
    background-color: rgb(195, 220, 240);
    .scrolling-wrapper{
        margin: 10px;
        text-align: center;
    }
}