
   <div class="ft-followers">
           <div class="card-block">
              <div ng-init="followers.getFollowers()">
               <p>Followers: {{followers.followersList.length}} </p>
            <!-- <button type="button" class="btn btn-info" ng-repeat="user in followers.followersList"
             ui-sref="userPage({username: user.username})">{{user.username}}
             </button>-->
             <div class="scrolling-wrapper" ng-animate="'animate'" ng-repeat="user in followers.followersList">
                  <ft-user-blurb user=user></ft-user-blurb></div>
           </div>
           </div>
           </div>
        
