<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a ui-sref="welcome" class="navbar-brand" >Ft Clicker</a>
      </div>
      <!-- <ul class="nav navbar-nav">
        <li><a ui-sref="about" ui-sref-active="active">About</a></li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ui-sref="{{navbar.refProfileOrSignup}}">
            <span class="glyphicon glyphicon-user"></span> 
            {{navbar.userOrSignup()}}
          </a>
        </li>
          <li>
            <a ui-sref="{{navbar.refLoginOrLogout}}"
                ng-click="navbar.clickLogout()">
              <span class="glyphicon glyphicon-log-in"></span> 
              {{navbar.loginOrLogout()}}
            </a>
          </li>
      </ul>
    </div>
</nav>