<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a ui-sref="welcome" class="navbar-brand" >Ft Twitter</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a ui-sref="feed" ng-show="navbar.userService.isAuthenticated()">Feed</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ng-click='navbar.showProfileOrSignup()'>
            <span class="glyphicon glyphicon-user"></span> 
            {{navbar.userOrSignup()}}
          </a>
        </li>
          <li>
            <a ui-sref="{{navbar.refLoginOrLogout}}"
                ng-click="navbar.clickLogout()">
              <span class="glyphicon glyphicon-log-in"></span> 
              {{navbar.loginOrLogout()}}
            </a>
          </li>
      </ul>
    </div>
</nav>