.tweetAllBody {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.userAllBody {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.landingPage-BodyContainer {
  display: flex;
  flex-direction: column;
}

.tweetsNav.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.navigation {
  font-size: 30px;
}
.navigationHelp {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 12px;
}

.navigation.previous {
  margin-right: 20px;
}

.navigation.next {
  margin-left: 20px;
}

.landingPage-Body {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.landingPage-WelcomeContainer {
	align-self: center;
}

.trend {
  font-size: 40px;
  font-weight: bolder;
  margin: 0 0 0 20px;
}

.allTweetContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }

  .tweets.welcome {
	flex: 0 0 auto;
	margin-right: 3px;
  }
}

.allUserContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 60vh;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }

  .user.welcome {
	flex: 0 0 auto;
	margin-right: 3px;
  }
}
.tweets.welcome {
  width: 280px;
  height: 400px;
  margin: 10px;
  margin-top: 15px;
  overflow-wrap: break-word;
  text-align: center;
}

.scroll-wrapper {
  height: auto;
}

.tweets-content.welcome {
  font-size: 2vh;
}

.user.welcome {
  width: 280px;
  height: 430px;
  margin: 10px;
  margin-top: 20px;
  overflow-wrap: break-word;
  text-align: center;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
}

.hashtagStateLink {
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 50px;
}

.hashtagStateLink:hover {
  transition: 0.9s ease-in-out;
}

.tweetSearch {
  text-align: center;
}