@import "~bootstrap/less/bootstrap";

.userBlurb-profileContainer {
  padding: 10px;
  margin: 0px;
  background-color: #5bc0de;
}

.userWidget-hover:hover {
  transition: 0.5s ease-in-out;
}

.userBlurbProfilePicBorder {
  border-radius: 50%;
  width: 132px;
  height: 132px;
  background-color: white;
  margin: 0 auto;
  margin-top: 10px;
}

.userBlurbProfilePicBorder {
  font-size: 98px;
}

.userBlurb-firstName {
  margin-top: 5px;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  height: 20px;
}

.userBlurb-lastName {
  margin-top: 5px;
  font-size: 30px;
  font-weight: bold;
}

.userBlurb-userName {
  margin-top: 10px;
  padding-bottom: 30px;
  color: white;
  text-decoration-style: none;
  font-size: 18px;
  line-height: 26px;
  height: 12px;
}

.userBlurb-profileWhiteBackground {
  background-color: white;
}

.userBlurb-joined {
  padding-top: 16px;
  font-weight: bold;
  font-size: 18px;
}

.userBlurb-social {
  margin: 0 auto;
  padding-top: 15px;
}

.userBlurb-link {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: space-around;
}

.followersNumber, .followingNumber, .mentionsNumber {
  font-size: 26px;
  font-weight: 620;
}