<div class="card">
    <div class="card-block">
        <h4 class="card-title">Username</h4>
        <h6 class="card-subtitle mb-2 text-muted">Email</h6>
        <a ui-sref="followers" ui-sref-active="active">Followers</a>
        <a ui-sref="following" ui-sref-active="active">Following</a>
        <a ui-sref="likes" ui-sref-active="active">Likes</a>
        <a ui-sref="mentions" ui-sref-active="active">Mentions</a>
        <!--<a href="getFollowers()" class="card-link">Followers</a>
        <a href="getFollowing()" class="card-link">Following</a>
        <a href="getLikes()" class="card-link">Likes</a>
        <a href="getMentions()" class="card-link">Mentions</a>-->
    </div> 
</div>