<div class="userBlurb-profileBlueground">
  <div class="userBlurb-profileContainer">
    <a class="userBlurb-hover" ui-sref="userPage({username: userblurb.user.username})">
      <div class="userBlurbProfilePicBorder">
        <div class="userBlurbProfilePic">
          <div class="glyphicon glyphicon-user"></div>
        </div>
      </div>
      <div class="userBlurb-firstName">
        {{userblurb.user.profile.firstName}}
        <span class="userBlurb-lastName"></span>
        {{userblurb.user.profile.lastName}}
      </div>
    </a>
    <div class="userBlurb-userName">
      @{{userblurb.user.username}}
    </div>
  </div>
</div>

<div class="userBlurb-profileWhiteBackground">
  <div class="userBlurb-social">
    <div class="userBlurb-link">
      <span class="userBlurb-followers">
        <div class="followersContainer">
          <a ui-sref="followers({ 'username': userblurb.user.username })">
          Followers<div class="followersNumber"> {{userblurb.numFollowers}}</div></a></div></span>
      <span class="userBlurb-following">
        <div class="followingContainer">
          <a ui-sref="following({ 'username': userblurb.user.username })">
            Following<div class="followingNumber"> {{userblurb.following.length}}</div></a></div></span>
      <span class="userBlurb-mentions">
        <div class="mentionsContainer">
        <a ui-sref="mentions({ 'username': userblurb.user.username })">Mentions<div class="mentionsNumber">{{userblurb.mentions.length}}</div></a></div></span>
    </div>
  </div>
  <div class="userblurb-icons" ng-show="userblurb.isCurrentUser">
     <div ng-switch="userblurb.followSwitch">
        <input ng-switch-when = "false" type="button" ng-disabled="userblurb.loggedIn" ng-click="userblurb.follow()" class="btn btn-primary btn-lg" value="Follow"> 
        <input ng-switch-when = "true" type="button" ng-disabled="userblurb.loggedIn" ng-click="userblurb.unfollow()" class="btn btn-primary btn-lg" value="Unfollow">
    </div>
  </div>
  <div class="userBlurb-joined">
    Joined
  </div>
  <div class="userBlurb-timestamp">
    {{userblurb.convertTime(userblurb.user.joined)}}
  </div>
</div>