<div class="searchBarBody" ng-init="searchBar.allHashtags">
  <div class="header">
    <h1 class="headerText">See what's happening right now</h1>
  </div>

  <div class="col-lg-7 col-md-7 col-sm-6">
    <div class="input-group">
      <span class="input-group-addon"><div class="hashtagIcon">#</div></span>
      <input type="text" class="form-control input-lg" ng-model="searchBar.hashtag" placeholder="What are you looking for?">
      <span class="input-group-btn">
  	    <button type="button" class="btn btn-info btn-lg">
          <span type="button" class="glyphicon glyphicon-search" ng-click="searchBar.findTweets"><span class="searchText"> Search</span></span>
        </button>
      </span>
    </div>
  </div>

  <div class="hashtagCaption">Get started with some Hashtags</div>
  <div class="col-lg-10 col-md-10 col-sm-8">
  	<div class="randomTagContainer">
  	  <div ng-repeat="hashtag in searchBar.randomTweets">
  	  	<div class="randomHashtags">#{{hashtag.label}}</div>
  	  </div>
    </div>
  </div>
  <div class="spacing"></div>
</div>

<div id="hashtagResult">
  <div class="hashtagResultContainer">
  	<div ng-repeat="tweet in searchBar.foundTweets">
  	  <div class="tweets">

  	  	<div class="tweets-profileContainer">
          <img src="" style="width:100px">
  	  	  <span class="tweets-firstName">{{tweet.author.profile.firstName}}
  	    	<span class="tweets-lastName">{{tweet.author.profile.lastName}}</span>
  	      </span>
  	  	  <div class="tweets-Username">
  	  		  @{{tweet.author.userName}}
  	      </div>
  	    </div>

  	    <div class="tweets-content">
  	    	{{tweet.content}}
  	    </div>
        <div class="tweets-timestamp">
        	{{tweet.timestamp}}
        </div>
        <div class="tweets-icons">
          <span class="glyphicon glyphicon-share-alt reply Icon"></span>
          <span class="glyphicon glyphicon-retweet retweet Icon"></span>
          <span class="glyphicon glyphicon-heart like Icon">
          </span>
        </div>
  	  </div>
    </div>
  </div>
</div>