<div class="trend" ng-init="userAll.allUsers">
  @USER SPOTLIGHT
</div>
<div class="tweetAllBody">
  <div class="tweetsNav welcome">
	<div class="navigation previous">&laquo; </div>
    <h2 class="navigationHelp">Scroll Left or Right to view more Tweets</h2>
    <div class="navigation next"> &raquo;</div>
  </div>
  <div class="tweetSearch">
    <div class="col-lg-8 col-md-8 col-sm-6 col-lg-offset-2 col-md-offset-2 col-sm-offset-3">
      <input type="text" class="form-control" ng-model="tweetAll.search" placeholder="Search for Users by Username">
    </div>
  </div>
  <div>
    <div id="hashtagResult">
      <div class="allUserContainer">
  	    <div class="scrolling-wrapper" ng-animate="'animate'" ng-repeat="user in userAll.userList | filter:tweetAll.search">
          <div class="user welcome">
  	        <ft-user-widget user=user></ft-user-widget>
          </div>
  	    </div>
        </div>
      </div>
    </div>
  </div>
</div>