<h1 class="feed-head">Today's Drama</h1>

<textarea placeholder="Add more drama!" ng-model="feed.newTweetText"></textarea>
<br />
<button class="btn btn-primary" ng-click="feed.newTweet()">Chirp!</button>
<div class="feed-container">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <div id="filler">
    <!-- Commented out until infinate loop is fixed
    <ft-user-blurb id="user-blurb-feed"></ft-user-blurb>
  -->
  </div>
  <div id="tweets-in-feed">
    <ft-tweet ng-repeat="x in feed.tweets track by $index" tweet="x"></ft-tweet>
  </div>
  <div id="filler">

  </div>

</div>
