ft-feed {
  text-align: center;
  width: 100vw;
  display: inline-block;
  padding-top: 64px;
  overflow: visible;
}

.replyBox {
  display: inline-block;
}

ft-tweet {
  font-family: 'Indie Flower', cursive;
  max-width: 512px;
  background-color: lightblue;
  padding: 32px;
  margin: 32px;
}

.tweet-author {
  font-family: 'Indie Flower', cursive;
  display: inline-block;
  border-bottom: 2px solid grey;
}

.tweet-content {
  margin-top: 22px;
}

.tweet-reply {
  left: 32px;
}

.feed-container {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex: 1;
}

#tweets-in-feed {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: column;
}

#user-blurb-feed {
  padding: 32px;
  border-radius: 32px;
  position: fixed;
  left: 0%;
  top: 20%;
  max-width: 20%;
  overflow: hidden;
}

@media screen and (min-width: 1100px) {
  #user-blurb-feed {
    background: linear-gradient(rgba(255, 0, 0, .75), rgba(255, 170, 0, .3));
    left: 5%;
    top: 20%;
    width: auto;
  }
}

#filler {
  flex: 1
}

.tweet-buttons {
  z-index: -1;
}

.btn {
  margin-top: 16px;
  margin-bottom: 16px;
}

#new-tweet-text {
  width: 20vw;
  height: 10vh;
}
