      <div class="ft-following">
          <div class="card-block">
             <div ng-init="following.getFollowing()">
              <p>Following: {{following.followingList.length}} </p>
            <!--<button type="button" class="btn btn-info" ng-repeat="following in following.followingList"
            ui-sref="userPage({username: following.username})">{{following.username}}
            </button>-->
            <div class="scrolling-wrapper" ng-animate="'animate'" ng-repeat="user in following.followingList">
                <ft-user-blurb user=user></ft-user-blurb>
         </div>
           </div>
          </div>
          </div>