.profileContainer {
  height: 100vh;
  width: 100vw;
}

.userPage-headerContainer {
  display: flex;
  flex-direction: column;
}

.userPage-topWhitePadding {
  flex: 1 0 50px;
  z-index: 5;
  background-color: #428bca;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
}

.userPage-blueBackground {
  background-color: #5bc0de;
  display: flex;
  flex-direction: row;
  height: 300px;
}

.userPage-leftPadding {
  flex: .22 0 auto;
}


.userPage-profile {
  display: flex;
  flex-direction: column;
}

.userPage-profilePadding {
  flex: 1 0 50px;
}

.userPage-userBlurb {
  width: 250px;
  height: 320px;
  text-align: center;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
}
.userPage-textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-wrap: break-word;
  line-height: 45px;
  width: 55vw;
}

.userPage-text, .userPage-text:after {
  font-weight: 920;
  color: #f9f9f9;
  padding-top: 30px;
  white-space: nowrap;
  letter-spacing: 1px;
  margin-left: 2%;
}

.userPage-text {
	align-self: center;
    font-size: 3.3vw;
    z-index: 100;
}

.userPage-text.username {
  font-size: 9vw;
  max-width: 30%;
  overflow-wrap: break-word;
  color: #d9534f;
  padding-right: 4%;
}

.userPage-bodyContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.userPage-body-leftPadding {
  flex: .2 0 300px;
}

.tweets.userPage {
  width: 30vw;
  overflow-wrap: break-word;
}


.userTweetsContainer {
  width: 60vw;
}
