.profileContainer {
  height: 100vh;
  width: 100vw;
}

.userPage-headerContainer {
  display: flex;
  flex-direction: column;
}

.userPage-topWhitePadding {
  flex: 1 0 50px;
  z-index: 5;
  background-color: #428bca;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
}

.userPage-blueBackground {
  background-color: #5bc0de;
  display: flex;
  flex-direction: row;
  height: 300px;
}

.userPage-leftPadding {
  flex: .22 0 auto;
}


.userPage-profile {
  display: flex;
  flex-direction: column;
}

.userPage-profilePadding {
  flex: 1 0 50px;
}

.userPage-userBlurb {
  width: 250px;
  height: 435px;
  text-align: center;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
}
.userPage-textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 30px;
}

.userPage-text, .userPage-text:after {
  font-weight: 920;
  color: #f9f9f9;
  padding-top: 30px;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  letter-spacing: 2px;
  margin-left: 4%;
}

.userPage-text {
	align-self: center;
    font-size: 4vw;
    z-index: 100;
}

.userPage-text.username {
  font-size: 2.2em;
  color: #d9534f;
}

.userPage-bodyContainer {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}

.userBody-body-leftPadding {
  flex: .3 0 auto;
}