<div class="profileContainer">

  <div class="userPage-headerContainer">
    <div class="userPage-topWhitePadding"></div>
    <div class="userPage-blueBackground">

  	  <div class="userPage-leftPadding"></div>

      <div ng-init="userPage.getUser(); userPage.getTweets()"></div>
      <div class="userPage-profile">
      	<div class="userPage-profilePadding"></div>
  	    <div class="userPage-userBlurb">
          <ft-user-blurb class="user userPage" user=userPage.user></ft-user-blurb>
        </div>
        <div class="userPage-followerWidget">
        </div>
        <div class="userPage-followingWidget">
        </div>
        <div class="userPage-mentionsWidget">
        </div>
      </div>
      <div class="userPage-textContainer">
      	<div class="userPage-text-topHalf">
          <div class="userPage-text">See what
          </div>
          <div class="userPage-text username">@{{userPage.user.username}}
          </div>
        </div>
        <div class="userPage-text">has been up to</div>
      </div>
    </div>
  </div>
  <div class="userPage-bodyContainer">
  	<div class="userPage-body-leftPadding"></div>
    <div class="userTweetsContainer">
      <div class="verticalScrollWrapper" ng-repeat="tweet in userPage.userTweetList">
        <ft-tweet tweet=tweet>

  	    </ft-tweet>
  	  </div>
    </div>
  </div>
</div>