<div class="trend" ng-init="tweetAll.allTweets">
  #TRENDING NOW
</div>
<div class="tweetAllBody">
  <div class="tweetsNav welcome">
	<div class="navigation previous">&laquo; </div>
    <h2 class="navigationHelp">Scroll Left or Right to view more Tweets</h2>
    <div class="navigation next"> &raquo;</div>
  </div>
  <div class="tweetSearch">
    <div class="col-lg-8 col-md-8 col-sm-6 col-lg-offset-2 col-md-offset-2 col-sm-offset-3">
      <input type="text" class="form-control" ng-model="tweetAll.search.tags.label" placeholder="Search for Tweets by Hashtags">
    </div>
  </div>
  <div>
    <div id="hashtagResult">
      <div class="allTweetContainer">
  	    <div class="scrolling-wrapper" ng-repeat="tweet in tweetAll.tweetList | filter:tweetAll.search">
  	      <ft-tweet tweet=tweet></ft-tweet>
        </div>
      </div>
    </div>
  </div>
</div>