<div class="ft-mentions">
        <div class="card-block">

            <div ng-init="mentions.getMentions()">
             <p>Mentioned in: {{mentions.userMentionsList.length}}</p>
                <ul>
                 <li ng-repeat="m in mentions.userMentionsList"> 
                        <div>
                            <label class="tweet-content">Tweet:</label><p>{{m.content}}</p>
                            <label class="time">Time Posted: </label><p>{{mentions.convertTime(m.posted)}}</p>
                        </div>
                                    
                    </li>
                </ul>
                </div>
         </div>
    </div>
    