<div class="ft-mentions">
        <div class="card-block">
             <p>Mentioned in {{mentions.mentions.data.length}}:</p>
                <ul>
                    <li ng-repeat="mentions in mentions.mentions">
                        <div>
                            <label class="tweet-content"></label><p>{{mentions.content}}</p>
                            <label class="time">Time Posted: </label><p>{{mentions.posted}}</p>
                        </div>
                                    
                    </li>
                </ul>
         </div>
    </div>
    