<div class="ft-mentions">
        <div class="card-block">
             <p>Mentioned in ({{mentions.mentions.length}}):</p>
                <ul>
                    <li ng-repeat="mentions in mentions.mentions">
                        <div>
                            <label>ID: </label><p>{{tweet.id}}</p>
                            <label>Time Posted: </label><p>{{tweet.posted}}</p>
                            <label>Content: </label><p>{{tweet.content}}</p>
                        </div>
                                    
                    </li>
                </ul>
         </div>
    </div>
    